

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Overpass", sans-serif !important;
}

a{
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.city-cover {
    max-width: 4000px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.4);
    margin: 0;
}

.city-menu-item-data {
    min-height: 500px;
    height: auto;

}
h1 {
    color: #fff;
}
.city-menu-item-data h1{
    color: #000;
}
.city-menu-item-data p{
    color: #000;
    font-size: 20px;
    text-shadow: 1px 1px #fff;
}

.menu-page {
    margin: 0;
    padding: 0;
    padding-top: calc(100vh * 0.1);
    height:  calc(100vh);
}

.contact-page{
    margin: 0;
    padding: 0;

    height:  calc(100vh);
}
.other-cities-card {
    height: 400px;
}

.banner-cover {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
    /* background-color: rgba(196, 196, 196, 0.3); */
    background-image: linear-gradient( to bottom, rgba(50, 146, 255, 0.6) , rgba(39, 39, 39, 0.1) );
}

#banner {
    position: relative;
    height: 500px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.img-scroll {
    width: 20%;
    /* margin-left: 40%; */
    margin-top: 0;
    z-index: 50;
}
.img-scroll-wrapper {
    z-index: 2;
    padding-top: calc((100vh / 2) / 1.5);
}
.main-city-menu {
    margin: 0;
    padding:0;
    height: calc(100vh * 0.2)
}
.main-city-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    cursor: pointer;
    transition: background-color 1s;
}

.main-city-cover p {
    position: absolute;
    font-size: 3em;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: font-size 1s; */
}


.main-city-cover:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* font-size: 1.2em; */
    transition: background-color 1s;
}
#main-menu{

    position: absolute
}


.menu-inside{
    padding: 5px;
    margin: 0px;
    /* background-color: red; */
    height: calc(100vh * 0.1);
    background-image: linear-gradient( to right, rgba(80, 31, 161, 1) , rgba(80, 31, 161, 0.1) );
    /* position: absolute; */
    z-index: 1000;
}
.axes{
    padding: 10px;
    background-color: #e4e4e4!important;

}
.axes-content{

    height: calc(100vh * 0.3);
    line-height: calc(100vh * 0.3);
    text-align: center;
    /* padding:20px */

    height: 95%;
    /* background-color: #fff; */
}
.axes span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 2em;
  }

.axes p {

    font-size: 2em;
    color: #000;
    margin: 0;
    text-shadow: 1px 1px #000;

}


.banner-text h1 {
    margin-top: 10%;
    font-size: 4em;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(145, 145, 145);
}

.banner-text p {
    font-size: 2em;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px px rgb(145, 145, 145);
}

/* .main-city-cover p:hover{
    font-size: 3.2em;
    transition: font-size 1s;
} */

.explore {
    /* position: absolute; */
    /* z-index:10000; */
    /* margin-top: 300px; */
    width: 140px;
    /* height: 60px; */

    background-color: #000;
    border-radius: 0px;
    color: #fff;
    /* font-size: 1.5em; */
    transition: height 1s, width 1s, font-size 1s;
    z-index: 2;
}

.explore :hover {
    /* position: absolute; */
    /* z-index:10000; */

    width: 140px;
    /* height: 60px; */

    background-color: #000 !important;
    border-radius: 0px;
    color: #fff;
    /* font-size: 1.5em; */
    transition: height 1s, width 1s, font-size 1s;
}

#banner-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* menu */

.nav-inside{
    /* background-color: #501fa1; */
    /* height: 65px;
    line-height: 37px; */
}

.nav-inside a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 1em;
    color: #fff !important
  }


  .menu{
    padding: 5px;
    margin: 0px;
    background-color: white;
    border-bottom: 1px solid #e9ecef;
    /* height: calc(100vh * 0.1); */
    /* background-image: linear-gradient( to right, rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0.1) ); */
    position: absolute;
    z-index: 1000;
}


#nav {
    /* container */
    /* background-color: red; */
    /* z-index: 10000 */
}
/* #nav > a {
    display: none;
} */
#nav li {
    position: relative;
}

/* first level */



#nav > ul {
    height: 3.50em;
    margin: 0;
    padding-left: 0;
}
.nav-inside > ul > li{
    width: 15% !important;
    height:  100% !important;
    float: left;
    list-style: none !important
}
#nav > ul > li {
    width: 8%;
    height:  100% !important;
    float: left;
    list-style: none !important
}


/* second level */

#nav li ul {
    z-index: 20;
    position: absolute;
    top: 100%;
    list-style: none !important;
    /* background-color: #fff; */
    width: 100%;
    padding: 10px;
}
/* #nav li:hover ul {
    display: block;
} */



#nav li a{
    color: #000;
    font-weight: 600;
    font-size: 1.0em;
}
#nav li a:hover{
    text-decoration: none;
    color: rgb(99, 98, 98);
}
.anchor-item{
    text-align: center;
    padding-top: 15px;

}

.anchor-item :hover{
    border-bottom: 1px solid rgb(99, 98, 98);
}

.anchor-item a.active{
    color: rgb(99, 98, 98) !important;
    /* border-bottom: 1px solid rgb(99, 98, 98); */
}
#nav ul li{

}
.nav-inside ul li{
    border-left: 1px solid #fff !important;
}
.nav-inside ul li:first-child{
    border-left: none;
}

.anchor-item:first-child{
    border-left: none
}
.sub-item{
    border-left : none !important;
    background-color: #fff;

}


.page-with-menu{
    padding-top: calc(100vh * 0.1);
}


.fixed-page{
    min-height: 100vh;
    height: auto;
    width: 100%;
    /* background-color: black; */
}

/* define a fixed width for the entire menu */
.navigation {

  }

  /* reset our lists to remove bullet points and padding */
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
    display: block;
    /* background-color: #929292; */
    text-decoration: none;
    padding: 10px;
    color: #000;
  }

  /* add hover behaviour */
  .mainmenu a:hover {
      /* background-color: #C5C5C5; */
        text-decoration: underline;


  }

  a.active  {
    /* background-color: #6b6b6b !important;
    color: #fff; */
    text-decoration: underline;

  }


  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */

  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }


  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */



  .submenu-opened{
    display: block;
    max-height: 200px;
  }

  .submenu a {
    /* background-color: #999; */
  }

  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    /* background-color: #666; */
  }

  .submenu li{
      padding-left: 5px;
  }

  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }


  .services-v1{
    padding:   0px 0px 50px 0;
    margin-top: 50px;
    position: relative;
    background-color: rgb(250, 250, 250);
  }

  .services-v1 .service {
    text-align: center;
}

.services-v1 .service .icon-wrap {
    margin: 0px auto 10px auto;
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    background: #ffffff;
    border-radius: 40%;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
}

.services-v1 .service .icon-wrap i{
    margin-top:3px;
    font-size: 3em
}
.services-v1 .more-services {
    position: absolute;
    /* bottom: 20px; */
    left: 0;
    width: 100%;
    text-align: center;

}


.btn-other-cities{
    border-color: rgb(50, 146, 255);
    color: rgba(50, 146, 255)
}

.btn-other-cities:hover{
    border-color: rgb(50, 146, 255);
    color: #fff;
    background-color:rgb(50, 146, 255);
}

.service-v1 h4{
    text-align: center;
}


.related{
    padding: 50px
}

.related a{
    color: rgb(50, 146, 255) !important;
}

.content-title{
    text-align: right;
    padding:10px;

}


.main-site-content p{
    text-indent: 50px;
    text-align: justify;
    padding: 10px;
    padding-top: 0px
}

.main-site-content p::first-letter{
    font-size: 1.5em;

    /* font-weight: bold; */
}

.breadcrumbs{
    text-align:left
}

.related p{
    font-size: 12px;
}


.publication-full h2{
    text-align: center;

}
.publication-full p{
    text-align: left;

}
.publication-full small{
    text-align: left;
    color: rgb(128, 128, 128) !important;

}

.publication-full .btn{
    text-align: center;

}

.btn-black{
    background-color: #000;
    color: #fff;
}


.cartographies-options{
    height: 100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 25%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: right;
    cursor: pointer;


}

.cartographies-img{
    height: 400px;
    padding:0
}


.teams-options{
    height: 100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 25%;

    text-align: right;
    cursor: pointer;


}

.teams-img{
    height: 200px;
    padding:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px
}



