


    {% set pagename = submenu.name %}
    <div class="col-12 city-menu-item-data">
        {% include 'breadcrumbs.html' %}


        <div class="row mt-5">

            {% include 'submenu.html' %}
            <div class="col-8 main-site-content">
                <h1 class = "only-text-title content-title mb-5"> {{submenu.title|raw}}</h1>
                <p class = "menu-text">
                    {{submenu.text|raw}}
                </p>

            </div>
            <div class="col-2 related">

            </div>
        </div>
    </div>
