


    {% set pagename = submenu.name %}
    <div class="col-12 city-menu-item-data">
        {% include 'breadcrumbs.html' %}


        <div class="row mt-5">

            {% include 'submenu.html' %}
            <div class="col-8" style = >


                <div class="col-12">
                    <div class = "row offset-1">
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img explore-cartography-trigger" data-subpage-name="cartography" data-cartography-id = "#cartography-1" style = "background-image: url('/webroot/img/carto1.jpg'); height: 400px; padding: 0">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>



                    <div id = "cartography-1" class = "col-12 cartographies-full hidden">
                        <div class = "btn btn-secondary btn-sm explore-cartography-back-trigger mb-3" data-subpage-name="cartography" data-cartography-id = "#cartography-1"> <i class= "fa fa-long-arrow-alt-left"></i> Back </div>

                        <div class = "col-12">
                            <h3> MULTIESCALAR READING PROCESSES: VILA PRUDENTE SÃO PAULO</h3>
                            <p>case study: city of São Paulo</p>
                        </div>
                        <div class = "shown-image">
                            <img class = "col-8 offset-2" src="/webroot/img/cartografias.png">
                        </div>
                        <div class = "thumb-images mt-3" >
                            <div  style = "text-align: center; display: inline-flex" >
                                <div style = "width:25%" class = ""><img class = "col-12" src="/webroot/img/cartografias.png"></div>
                                <div style = "width:25%" class = ""><img class = "col-12" src="/webroot/img/cartografias.png"></div>
                                <div style = "width:25%" class = ""><img class = "col-12" src="/webroot/img/cartografias.png"></div>
                                <div style = "width:25%" class = ""><img class = "col-12" src="/webroot/img/cartografias.png"></div>
                                <div style = "width:25%" class = ""><img class = "col-12" src="/webroot/img/cartografias.png"></div>
                                <div style = "width:25%" class = ""><img class = "col-12" src="/webroot/img/cartografias.png"></div>
                            </div>
                            <div class = "col-12 mt-5">
                                <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                                omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et
                                aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                                sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
                                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                                <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                 molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                 <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                 accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                 quae ab illo inventore veritatis et quasi architecto beatae vitae
                                 dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                 aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                 qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                 dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                 non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                 quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                 ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                                 <p>
                                  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                  molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                  quae ab illo inventore veritatis et quasi architecto beatae vitae
                                  dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                  aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                  qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                  dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                  non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                  quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                   Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                   molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                            </div>


                            <div class = "col-4 offset-4 mt-3">

                                <div class = "col-12 offset-1 btn btn-black btn-sm" ><i class = "fa fa-download"></i>&nbsp Download High Definition Image</div>

                            </div>

                        </div>

                    </div>




                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto3.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto2.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto4.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto5.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto6.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto7.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto8.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    <div class="col-3 mb-3 mr-3 cartography-preview cartographies-img" style = "background-image: url('/webroot/img/carto9.jpg'); height: 400px">
                        <div class = "cartographies-options hidden">
                            <p>{{ 'São Paulo Verticalization: Studie about the vila prudente verticalization proccess'|upper}} </p>
                        </div>
                    </div>
                    </div>
                </div>




            </div>
            <div class="col-2 related">
                <h4> Related </h4>

                {{submenu.related.text|raw }}
            </div>
        </div>
    </div>
