
    {% set pagename = submenu.name %}
    <div class="col-12 ">
        {% include 'breadcrumbs.html' %}


        <div class="row mt-5 mb-5">

            {% include 'submenu.html' %}

            <div class="col-8 " style = "border-right: 5px solid #000; min-height: 60vh">
                <div class = "col-12">
                    <div class = "row ">
                        <div class = "col-12 col-sm-12 col-md-6">

                        <div class = "row articles-preview">
                            <div class = "col-6">
                                <img class = "col-12" src = "/webroot/img/dallas.jpg">
                            </div>
                            <div class = "col-6 mb-3">
                                <h5 class = "">BETEWEEN LEAKES LINES: ABOUT PLACES IN PASSAGE SPACES</h5>
                                <p>Andrei Crestani, Maíra Daitx, Marília Reis Sé </p>

                                <small><b>keywords:</b> places, spaces, comtemporary city</small>
                                <hr class="mt-3 mb-3"/>
                                <div class = "col-12 mt-3">
                                    <div class="row">
                                    <div class = "col-5 btn btn-secondary btn-sm explore-publication-trigger" data-subpage-name="articles" data-publication-id = "#article-1"><i class = "fa fa-plus"></i> &nbsp Explore</div>
                                    <div class = "col-5 offset-1 btn btn-secondary btn-sm" ><i class = "fa fa-download"></i>&nbsp Download</div>
                                </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div id = "article-1" class = "row hidden publication-full ">
                        <div class = "btn btn-secondary btn-sm explore-publication-back-trigger mb-3" data-subpage-name="articles" data-publication-id = "#article-1"> <i class= "fa fa-long-arrow-alt-left"></i> Back </div>
                        <div class = "row ">

                            <div class = "col-12 mb-3">
                                <h2 class = "">BETEWEEN LEAKES LINES: ABOUT PLACES IN PASSAGE SPACES</h2>
                                <p class = "ml-5 mb-0 mt-3">Andrei Crestani, Maíra Daitx, Marília Reis Sé </p>

                                <small class = "ml-5"><b>keywords:</b> places, spaces, comtemporary city</small>
                                <hr class="mt-3 mb-3"/>

                            </div>
                            <div class = "col-12">
                                <img class = "col-4 offset-4 w-50" src = "/webroot/img/dallas.jpg">
                            </div>
                            <div class = "col-12 mt-5">
                                <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                                omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et
                                aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                                sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
                                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                                <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                 molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                 <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                 accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                 quae ab illo inventore veritatis et quasi architecto beatae vitae
                                 dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                 aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                 qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                 dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                 non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                 quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                 ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                                 <p>
                                  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                  molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                  quae ab illo inventore veritatis et quasi architecto beatae vitae
                                  dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                  aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                  qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                  dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                  non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                  quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                   Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                   molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                            </div>


                            <div class = "col-4 offset-4 mt-3">

                                <div class = "col-12 offset-1 btn btn-black btn-sm" ><i class = "fa fa-download"></i>&nbsp Download</div>

                            </div>
                        </div>
                    </div>



                    <!-- second -->




                    <div class = "col-12 col-sm-12 col-md-6">

                        <div class = "row articles-preview">
                            <div class = "col-6">
                                <img class = "col-12" src = "/webroot/img/saopaulo.jpg" >
                            </div>
                            <div class = "col-6 mb-3">
                                <h5 class = "">{{ "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis"|upper }}</h5>
                                <p>Author 1, Author 2, Author 3, Author 4, Author 5, Author 2 </p>

                                <small><b>keywords:</b> places, spaces, comtemporary city</small>
                                <hr class="mt-3 mb-3"/>
                                <div class = "col-12 mt-3">
                                    <div class="row">
                                    <div class = "col-5 btn btn-secondary btn-sm explore-publication-trigger" data-subpage-name="articles" data-publication-id = "#article-2"><i class = "fa fa-plus"></i> &nbsp Explore</div>
                                    <div class = "col-5 offset-1 btn btn-secondary btn-sm" ><i class = "fa fa-download"></i>&nbsp Download</div>
                                </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div id = "article-2" class = "row hidden publication-full ">
                        <div class = "btn btn-secondary btn-sm explore-publication-back-trigger mb-3" data-subpage-name="articles" data-publication-id = "#article-2"> <i class= "fa fa-long-arrow-alt-left"></i> Back </div>
                        <div class = "row ">

                            <div class = "col-12 mb-3">
                                <h2 class = "">{{ "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis"|upper }}</h2>
                                <p class = "ml-5 mb-0 mt-3">Author 1, Author 2, Author 3, Author 4, Author 5, Author 2 </p>

                                <small class = "ml-5"><b>keywords:</b> places, spaces, comtemporary city</small>
                                <hr class="mt-3 mb-3"/>

                            </div>
                            <div class = "col-12">
                                <img class = "col-4 offset-4 w-50" src = "/webroot/img/saopaulo.jpg">
                            </div>
                            <div class = "col-12 mt-5">
                                <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                                omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et
                                aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                                sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
                                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                                <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                 molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                 <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                 accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                 quae ab illo inventore veritatis et quasi architecto beatae vitae
                                 dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                 aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                 qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                 dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                 non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                 quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                 ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                                 <p>
                                  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                  molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                  quae ab illo inventore veritatis et quasi architecto beatae vitae
                                  dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                  aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                  qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                  dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                  non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                  quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                   Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                   molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                            </div>


                            <div class = "col-4 offset-4 mt-3">

                                <div class = "col-12 offset-1 btn btn-black btn-sm" ><i class = "fa fa-download"></i>&nbsp Download</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            </div>
            <div class="col-2 related">
                <div style="
                height: 100%;
                width: 7%;
                margin-left: 95%;
                background: black;
                margin-top: -100px;
            "></div>
            </div>
        </div>
    </div>





