<div class="col-2 " style=" border-left: 15px solid;">
    <nav class="col-10 offset-1 navigation">
        <ul class="mainmenu">

            {% for submenu in data.submenus %}


            <li><a class="{{submenu.name|replace({' ': ""})}} {{ pagename == submenu.name ? 'active' : '' }} sub-menu-open"
                    data-target="{{submenu.name|replace({' ': ""})}}">{{submenu.name|capitalize}}</a>
                <ul class="submenu sub-{{submenu.name|replace({' ': ""})}}">
                    {% for tree in submenu.tree %}
                    {% if tree.page  %}
                    <li><a class="{{tree.name|replace({' ': ""})}} {{ pagename == tree.name ? 'active' : '' }} {{ pagename == tree.name ? 'active-sub-menu' : '' }} sub-menu-open submenu-opened tree"
                        data-target="{{tree.name|replace({' ': ""})}}" data-open-submenu = "{{ pagename == tree.page.name ? 'active' : '' }}">{{tree.name|capitalize}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            </li>
            {% endfor %}


        </ul>
    </nav>
</div>
